* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(7, 15, 32);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff ;
    font-size: 1.1rem;
}

a:hover {
    color: rgb(194, 103, 0);
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
    margin-top: 50px;
}

.logo{
    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    color: whitesmoke;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .botondespliegue {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Menu Hamburguesa */

.menuhamburguesa {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    min-height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: min-height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.menuhamburguesa.abierto {
    min-height: 250px;
}

.menuhamburguesa li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CUERPO */

.contenedor {
    display: flex;
    justify-content: center;
}

.oculto {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  position: absolute;

}

.visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease;
  position: relative;
  display: flex;
}

.contenedorLogin {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: 1200px;
    width: 100%;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    box-shadow: 0px 0px 10px #000000;
    max-width: 250px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    background-color: rgb(9, 19, 41);
}

.formLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.formLogin input {
    padding: 10px;
    max-width: 100%;
    border: 0px;
    width: 100%;
}




.contenedorRegistro {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1200px;
    width: 100%;
}

.formularioRegistro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    box-shadow: 0px 0px 10px #000000;
    max-width: 250px;
    width: 100%;
    background-color: rgb(9, 19, 41);
}

.formRegistro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.formRegistro input {
    padding: 10px;
    max-width: 100%;
    border: 0px;
    width: 100%;
}



.titulo {
    color: #fff;
    text-shadow: 0px 0px 20px #929292;
    padding-bottom: 20px;
}

.selectAdmin {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    width: 100%;
}

.submit {
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
}

.cambiar {
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    background: none;
    color: #fff;
    cursor: pointer;
}

.cambiar:hover {
    color: rgb(194, 103, 0);
    text-decoration: underline;
}



/* RESPOSIVE */

@media(max-width: 992px) {
    .navbar .links,
    .navbar .botonlogin{
        display: none;
    }

    .navbar .botondespliegue{
        display: block;
    }

    .menuhamburguesa {
        display: block;
    }
}

@media(max-width: 576px) {
    .menuhamburguesa {
        left: 2rem;
        width:unset;
    }
    
}