* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(7, 15, 32);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff ;
    font-size: 1.1rem;
}

a:hover {
    color: rgb(194, 103, 0);
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
    margin-top: 50px;
}

.logo{
    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    color: whitesmoke;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .botondespliegue {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Menu Hamburguesa */

.menuhamburguesa {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    min-height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: min-height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menuhamburguesa.abierto {
    min-height: 250px;
}

.menuhamburguesa li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*CUERPO*/

.contenedor {
    display: flex;
    justify-content: center;
}

.contenedorFiltrador {
    max-width: 1200px;
    width: 100%;
    margin-top: 150px;
    padding: 100px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(13, 29, 61);
}

.filtros {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.tituloFiltro {
    font-size: 17px;
    text-shadow: 0px 0px 8px #000;
}

.seleccionador {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: beige;
}

.filtrar{
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color:  rgb(33, 76, 161) ;
    transition: scale 0.3s ease, background-color 0.3s ease;
}

.filtrar:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px #000;
    background-color:rgb(5, 56, 158);
}

.resultados {
    padding: 100px;
}


/* RESPOSIVE */

@media(max-width: 992px) {
    .navbar .links,
    .navbar .botonlogin{
        display: none;
    }

    .navbar .botondespliegue{
        display: block;
    }

    .menuhamburguesa {
        display: block;
    }
}

@media(max-width: 576px) {
    .menuhamburguesa {
        left: 2rem;
        width:unset;
    }
}