* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(7, 15, 32);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff ;
    font-size: 1.1rem;
}

a:hover {
    color: rgb(194, 103, 0);
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
    margin-top: 50px;
}

.logo{
    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    color: whitesmoke;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .botondespliegue {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Menu Hamburguesa */

.menuhamburguesa {
    display: none;
    position: absolute;
    z-index: 15;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    min-height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0px 2px 15px #0008;
    overflow: hidden;
    transition: min-height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menuhamburguesa.abierto {
    min-height: 260px;
}

.menuhamburguesa li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* CUERPO */

.contenedor {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.destinos {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 200px;
    padding: 25px;
    gap: 100px;
}

.destino {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(131, 131, 131);
    cursor:pointer;
    transition: scale 0.3s ease;
    background-color: coral;
}

.edmunds {
    background-image: url(../img/wpp_edmunds.png);
    background-position: center;
    background-size: cover;
}

.mann {
    background-image: url(../img/wpp_mann.png);
    background-position: center;
    background-size: cover;
}

.miller {
    background-image: url(../img/wpp_miller.png);
    background-position: center;
    background-size: cover;
}


.destino:hover {
    scale: 1.02;
}




/* RESPOSIVE */

@media(max-width: 992px) {
    .navbar .links,
    .navbar .botonlogin{
        display: none;
    }

    .navbar .botondespliegue{
        display: block;
    }

    .menuhamburguesa {
        display: block;
    }
}

@media(max-width: 576px) {
    .menuhamburguesa {
        left: 2rem;
        width:unset;
    }
}